.icon{
    color: #04fdfd;
    scale: 1.3;
    cursor: pointer;
}

.numCart{
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    transform: translateY(10px) translateX(3px);
}

.title{
    cursor: pointer;
    transition: .5s;
}

.title:hover {
    transition: .5s;
    color: #ffff00 !important;
}

.button{
    transition: .5s;
}

.button:hover{
    color: #ffff00 !important;
    transition: .5s;
    scale: 1.1;
}